
@media (max-width:1024px){
    .heroProperty{
        max-width: 280px;
    }
    }


.section1{
display: flex;
max-width: 1600px;
flex-wrap: wrap;
gap: 40px;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}


.cardTextSec1{
    color: #121212;

}

.cardPSec1{
    font-weight: 200;
}

.cardL{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 20px;
    min-width: 40%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}
.cardR{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 20px;
    min-width: 40%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .cardL, .cardR{
        min-width: 40%;
        min-height: 200px;
    }
}
@media (min-width: 1220px) {
    .cardL, .cardR{
        max-width: 40%;
        min-height: 200px;
    }
}