
@media (max-width:1024px){
    .heroProperty{
        max-width: 280px;
    }
    }
.heroProperty{
    padding: 40px;
}

.section0{
    margin-top: 120px;
    max-width: 1600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.section1{
display: flex;
max-width: 1600px;
flex-wrap: wrap;
gap: 40px;
justify-content: space-between;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}


.cardTextSec1{
    color: #121212;
    font-size: 2rem;
    font-weight: 400;

}

.cardPSec1{
    font-weight: 300;
    color: #121212;
    font-size: 1rem;
}

.cardL{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(to right, #f2f8f3,#d5f4cf9e);
    border-radius: 20px;
    min-width: 40%;
    height: 100%;
    padding-left: 20px;
    justify-content: center;
    align-items: start;
}

.cardR{
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    background:none;
    border: 1px solid #e3e0e0;
    border-radius: 20px;
    min-width: 50%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .cardL, .cardR{
        width: 100%;
       
    }
}
@media (min-width: 769px) {
    .cardL, .cardR{
        max-width: 40%;
        
    }
}

.onboarding{
    border-top: 1px solid #e3e0e0 ;
    margin-top: 40px;
    text-align: center;
}

.onboarding p{
    font-size: 2rem;
}

.h3howto{
    font-size: 1rem;
    text-decoration: underline 1px solid;
    text-underline-offset: 8px;
    
}
.btnGetInTouch{
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.btnGet{
    margin-top: 40px;
    background-color:#121212 ;
    color: white;
    line-height: 60px;
    border-radius: 30px;
    border: none;
    font-size: larger;
    padding: 5px 60px;
}
.btnGet:hover{
    background-color: #00ff0d;
    color: #121212;
}

.container {
    padding: 20px;
    max-width: 1600px;
    margin-top: 180px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-width: 100px;
    margin: auto;
    text-align: center;
}

label {
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
    height: 0.3rem;
    margin-bottom: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #e5eae7;
    cursor: pointer;
    width: 25rem;
    border-radius: 8px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: 0px; /* Centers thumb on the track */
    background-color: #00ff15;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;}

.result p {
    margin: 5px 0;
}


#fivePercentRevenue{
    font-size: 2rem;
    color: #00ff0d;
}

.tc{

    text-align: center;
    margin-bottom: 240px;


}

.tandc{
  margin-top: 0px;
  font-size: 0.7rem;
  color: darkgray;
  
}