@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



body{
margin: 0px;
padding: 0px;
color: #545454;
font-family: "Inter", sans-serif;
}
/*menu*/

.logo{
    height: 26px;
}

.navbarDesktop{
    max-width: 1600px;
    margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
    display: flex;
    height: 60px;
}

.desktopMenuList{
    display: flex;
}

.navbarDesktop ul{
    display: flex;
    list-style: none;
}

.navbarDesktop a{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

@media (min-width:1024px){
    
.mobileNav{
    display: none;
}}

@media (max-width:1025px){
.desktopMenuList{
    display:none;
}}
#toggleMenu{
    height: 26px;
    width: 26px;
}

#menuToggle{
    position: fixed;
    display: none;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease-in-out;
    text-align: center;
}

#menuToggle ul{
}

#menuToggle li{
    list-style-type: none;
    margin-bottom: 6rem;
    margin-top: 1rem;
}

#menuToggle a:hover{
    color: #00ff0d;
}

#menuToggle a {
    text-decoration: none;
    color: #ffffff;
    font-size: 3vh;
}

#closeMenu {
    height: 36px;
    width: 36px;
}
#closeMenu:hover{
    
}

/*header*/

.webWidth{
    margin: 20px;
}

.header1{
width: 100%;
display: inline-block;
justify-content: center;
align-items: center;
margin-top: 40px;

}

.cardXl{
display:flex;
flex-wrap: wrap;
border-radius: 20px;
background: linear-gradient(to right, #f8f8f8,#E4FFAA);
max-width: 1600px;
margin: auto;
justify-content: center;
gap: 10%;
}

.cardXl:hover{
    background: linear-gradient(to right, #d4d5d5,#a3d5be68);
}

.leftC{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.rightC{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    max-width: 800px;
    padding-right: 20px;
    padding-bottom: 20px;

}


@media (max-width:1024px){
.heroImg{
    max-width: 350px;
}
}


.primaryText{
    font-weight: 400;
    font-size: 4vh;
    text-align: start;
}


@media screen and (min-width: 736px) {
    
.primaryText{
    font-family: inherit;
    font-size: 5vh;}}

.ptext{
    background-color: #04552a;
    -webkit-background-clip: text;
    color: transparent;
}
.ptext1{
    background-color: #485908da;
    -webkit-background-clip: text;
    color: transparent;
}

.heroP {
    text-align: start;
}

/* listing features */

.listingF{
    display: flex;
    flex-wrap:wrap;
    justify-items: center;
    align-items: center;
    max-width: 1600px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.cardS{
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(to right, #f8f8f8,#E4FFAA);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 300px;
    align-content: center;
    max-width: 40%;
    justify-content: center;
    align-items: center;

}

.cardText{
font-weight: 400;
justify-content: center;
}

.sideText{
    max-width: 40%;
    align-content: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    justify-items: center;

}

.checkMark{
    height: 16px;
    width: 16px;
}

@media ( max-width: 736px){
    .cardText{
        font-size: 2vh;
    }
}


.featuresLI{

list-style: none;
display: flex;
align-items:center;
gap: 10px;
margin-top: 10px;
}

@media ( max-width: 736px){
    .featuresLI{
        font-size: 1.5vh;
    }
}

/*how it works*/

.howItWorks{
background-color: #f6f6f6;
margin-top: 40px;
margin-bottom: 40px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 20px;
max-width: 1560px;
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
gap: 20px;

}
.h3howto{
    font-size: 2.5vh;
    font-weight: 500;
    margin-bottom: 20px;
}

.innerText{
color: rgb(43, 43, 43);
text-align: center;
margin-top: 40px;
}

.searchText{
    padding-left: 20px;
    padding-right: 20px;

}
.step1p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5vh;
}


.searchText{
    color:white;
display:flex;
flex-direction: column;
flex-wrap: wrap;
border-radius: 20px;
background-color: #252424;
max-width: 1600px;
margin: auto;
justify-content: center;
gap: 10%;
font-size: 2vh;
font-weight: 200;
margin-bottom: 20px;
}

.searchText:hover{
background-color: #00FF02;
color: black;

}
.group2{
    margin-top: 20px;
}

/*subscribe*/

.subscribe{
    display: flex;
    margin: auto;

}
.formSub{
    display: flex;
    flex-direction: column;
    margin: auto;
align-items: center;
gap: 20px;
border-radius: 20px;
background-color: #d4d5d5;
max-width: 1600px;
}

.emailSub{
    border-radius: 10px;
    line-height: 25px;
    max-width: 400px;
    min-width: 196px;
    border: none;
    outline-color: #00FF02;
}

.subBtn{
    border-radius: 10px;
    background-color:#494747 ;
    color: white;
    line-height: 25px;
    min-width: 200px;
    border: none;
    margin-bottom: 40px;
}
.subBtn:hover{
    background-color: #00FF02;
    color: #252424;
}


.subText{
    padding: 20px;
    text-align: center;
    color: #121212;
    font-weight: 500;
    font-size: larger;
}