
@font-face {
    font-family:Inter;
    src: url(./fonts/inter.ttf);
}

body{
    background-color: #000;
    margin: 0;
    padding: 0;
}
.nomabase{
    padding: 20px;
    width: 200px;
}



h1{
    text-align: center;
    color:#fff;
    font-family: Maven-Pro;
    font-weight: 900;

}

.hero{

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
    height: 40vh;
    margin: 50px auto;
    padding: 0px 50px;

}

p{
    color: #fff;
    margin: 0 auto;
    font-family: Inter;
    font-size: x-large;
    font-weight: 200;
}

.ease{
    color: #00F002;
}

#istbtn {
    padding: 10px 20px;
    font-size: large;
    color: white;
    background-color: #000;
    border: solid 1px white;
}
#istbtn:hover {
    font-size: larger;
    background-color: #171717;
}